div.container.medal_widget div.ui.segment.error {
    margin-top: 25%;
}

div.container.medal_widget h3.header {
    padding-top: 12px;
    font-weight: lighter;
    font-size: 19px;
    margin-bottom: -11px;
}

div.container.medal_widget tr.header {
    border-bottom: 2px solid #767676!important;
}

div.container.medal_widget tr.header th{
    padding-top: 7px!important;
    padding-bottom: 3px!important;
    border-bottom: 2px solid #767676!important;
}

div.container.medal_widget tr.header th div.label {
    cursor: pointer;
}

div.container.medal_widget tr.header th.selected {
    border-top: 2px solid #767676;
}

div.container.medal_widget tbody td div.flags-aut, div.container.medal_widget tbody td div.flags-blr, 
div.container.medal_widget tbody td div.flags-can, div.container.medal_widget tbody td div.flags-chn, 
div.container.medal_widget tbody td div.flags-fra, div.container.medal_widget tbody td div.flags-ger, 
div.container.medal_widget tbody td div.flags-ita, div.container.medal_widget tbody td div.flags-ned, 
div.container.medal_widget tbody td div.flags-nor, div.container.medal_widget tbody td div.flags-rus, 
div.container.medal_widget tbody td div.flags-sui, div.container.medal_widget tbody td div.flags-swe, 
div.container.medal_widget tbody td div.flags-usa {
    background-image: url('https://s3-us-west-2.amazonaws.com/reuters.medals-widget/flags.png')!important;
    background-repeat: no-repeat!important;
    width: 28px!important;
    height: 17px!important;
    text-align: center;
}

div.container.medal_widget tbody td div.flags-aut {
    background-position: 0px 0px!important;
}

div.container.medal_widget tbody td div.flags-blr {
    background-position: 0px -17px!important;
}

div.container.medal_widget tbody td div.flags-can {
    background-position: 0px -34px!important;
}

div.container.medal_widget tbody td div.flags-chn {
    background-position: 0px -51px!important;
}

div.container.medal_widget tbody td div.flags-fra {
    background-position: 0px -68px!important;
}

div.container.medal_widget tbody td div.flags-ger {
    background-position: 0px -85px!important;
}

div.container.medal_widget tbody td div.flags-ita {
    background-position: 0px -102px!important;
}

div.container.medal_widget tbody td div.flags-ned {
    background-position: 0px -119px!important;
}

div.container.medal_widget tbody td div.flags-nor {
    background-position: 0px -136px!important;
}

div.container.medal_widget tbody td div.flags-rus {
    background-position: 0px -153px!important;
}

div.container.medal_widget tbody td div.flags-sui {
    background-position: 0px -170px!important;
}

div.container.medal_widget tbody td div.flags-swe {
    background-position: 0px -187px!important;
}

div.container.medal_widget tbody td div.flags-usa {
    background-position: 0px -204px!important;
}


div.container.medal_widget div.column td.country {
    font-weight: bold;
    text-align: left;
    color: grey;
}

div.container.medal_widget div.column td.total {
    font-weight: 900;
}

div.container.medal_widget div.column div.ui.label.total {
    border: none;
    font-size: 14px;
    padding: 0px;
}